/* resusable Sass variables */

/* fonts */
$timesFont: 'sketch-gothic-school';
$googleFont: 'Belgrano', serif;

/*general vars */

$a: antialiased;
$backgroundColor: rgba(255, 255, 255, .8);

/* index.html vars */

$darker: #262626;
$lighter: #595959;
$medium: #4d4d4d;
$white: #fff;
$footerShadow: 0 7px 6px rgba(0, 0, 0, 0.5) inset;
$animationTime: 2s;

/* search vars */

$containerBorder: 1px solid #d9d9d9;
$inputBorder: 1px solid #333333;

/* about vars */

/* results vars */

$base-border-radius: 5px !default;
$base-background-color: white !default;
$dark-gray: $darker !default;
$light-gray: $lighter !default;
$base-font-color: $darker !default;
$flex-box-font: $googleFont;
$flex-box-border-color: $light-gray;
$flex-box-border: 3px solid $medium;
$flex-box-background: #f2f2f2;
$flex-box-gutter: 0.3em;
$flex-box-width: 18em;