
/* Sass variables */

@import "variables";
@import "reset";
@import "typography";

@import "bourbon/bourbon";
@import "neat/neat";

/*index.html styles*/

html, body {
	height: auto;
	min-height: 100vh;
}

html {
	position: relative;

	background-attachment: fixed;
}

body {
	min-width: 100%;
	background-image: url("../img/skyline.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.masthead {
	background: $white;
	box-shadow: $headerShadow;
	top: 0;
	min-width: 100%;
	min-height: 6em;
	position: fixed;
	z-index: 3;
	transition-timing-function: top 0s ease-out;
	transition-timing-function: top 3s ease-in;
	-webkit-transition-timing-function: top 0s ease-out;
	-webkit-transition-timing-function: top 3s ease-in;
		li {
			-webkit-animation-duration: $animationTime;
			        animation-duration: $animationTime;
		}
}

.masthead ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.big-title {
	font-family: $timesFont;
	font-size: 4em;
	margin-left: .5em;
	padding-top: .20em;
	a {
		color: $darker;
		&:hover {
			text-decoration: none;
		}
	}
}

.masthead-links {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-family: $googleFont;
	font-size: 2em;
	-webkit-font-smoothing: $a;
	text-decoration: none;
	-webkit-align-content: center;
	    -ms-flex-line-pack: center;
	        align-content: center;
	padding-right: 1em;
	padding-top: 0.5em;
		&:hover {
			color: $lighter;
		}
		a {
			color: $darker;
			&:hover {
				color: $lighter;
				text-decoration: none;
			}
		}
}

.view {
	margin-top: 8em;
}

.footer {
	clear: both;
	position: fixed;
	min-width: 100%;
	padding-top: 15px;
	bottom: 0;
	text-align: center;
	font-family: $googleFont;
	font-size: 1.5em;
	font-weight: lighter;
	color: $medium;
	background-color: $white;
	box-shadow: $footerShadow;
	z-index: 9 !important;
		p {
			-webkit-animation-duration: $animationTime;
			        animation-duration: $animationTime;
			margin-bottom: .5em;
		}
		a {
			color: $medium;
		}
}

/*search.html styles*/

.search-container {
	margin-top: 9.5em;
	border: $containerBorder;
	border-radius: 5px;
	position: relative;
	top: 50%;
	background: $backgroundColor;
}

.search-input {
	display: inline;
}

::-webkit-input-placeholder {
	color: $lighter;
}

/* Firefox 18- */
:-moz-placeholder {
	color: $lighter;
}

/* Firefox 19+ */
::-moz-placeholder {
	color: $lighter;
}

.input-box {
	width: 20em;
	height: 65px;
	font-family: $googleFont;
	font-size: 2.5em;
	margin: 0 auto;
	margin-top: 4em;
	border-radius: 5px;
	border: none;
	display: block;
	padding-left: .5em;
	border: $inputBorder;
}

.date-input {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	text-align: center;
	margin: 0 auto;
	.date-label {
	color: #000;
	font-family: $googleFont;
	font-size: 1.5em;
	-webkit-font-smoothing: $a;
	}
	.date-box {
	font-family: $googleFont;
	font-size: 1.5em;
	-webkit-font-smoothing: $a;
	border-radius: 5px;
	border: none;
	padding-left: .5em;
	line-height: 2em;
	border: $inputBorder;
	display: inline-block;
	width: 8.5em;
	}
	.from-input {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-top: 2em;
		label {
			padding-right: .25em;
		}
	}
	.to-input {
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	margin-top: 2em;
		label {
			padding-right: .25em;
		}
	}
	.md-datepicker-input{
		font-size: 15px;
	}
}

.error-container {
	display: block;
	margin-top: .75em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 2em;
	width: 50%;
	.error-messages {
	font-size: 1.5em;
	font-family: $googleFont;
	color: $red;
	display: inline-block;
	}	
	.dateFromErrors {
	margin-left: .5em;
	float: left;
	}
	.dateToErrors {
	float: right;
	}
}


.sort-div {
	text-align: center;
	.sort-label {
	display: inline-block;
	margin-bottom: .5em;
	font-family: $googleFont;
	font-size: 2em;
	-webkit-font-smoothing: $a;
	}
	.sort-input-newest {
	display: inline-block;
	margin-left: 1em;
	margin-top: 1em;
	font-family: $googleFont;
	font-size: 1.5em;
	-webkit-font-smoothing: $a;
		label {
			margin-top: .25em;
			margin-left: .5em;
			margin-right: .25em;
			-webkit-font-smoothing: $a;
		}
		h3 {
			margin-bottom: .25em;
			color: #000;
		}
	}
	.sort-input-oldest {
	display: inline-block;
	margin-left: 1em;
	margin-top: 1em;
	font-family: $googleFont;
	font-size: 1.5em;
	-webkit-font-smoothing: $a;
		label {
			margin-top: .25em;
			margin-left: .5em;
			margin-right: .25em;
			-webkit-font-smoothing: $a;
		}
		h3 {
			margin-bottom: .25em;
			color: #000;
		}
	}
}

.submit-input {
	margin-bottom: 1.5em;
	text-align: center;
	}
	.submit-button {
	margin-top: .5em;
	height: 3em;
	width: 8em;
	border-radius: 5px;
	font-family: 'Belgrano', serif;
	font-size: 1.5em;
	color: $white;
	-webkit-font-smoothing: $a;
	background-color: $darker;
	border: 1px solid $inputBorder;
		&:hover {
			background-color: $darker;
		}
	}


/* about styles */

.about-container {
	margin-top: 16em;
	border: $containerBorder;
	border-radius: 5px;
	position: relative;
	background: $aboutBackgroundColor;
}

.about {
	font-family: $googleFont;
	font-size: 1.5em;
	line-height: 1.1em;
	-webkit-font-smoothing: $a;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3em;
}

.api-link {
	font-family: $googleFont;
	font-size: 1.5em;
	-webkit-font-smoothing: $a;
	padding: 1em 1em 3em 1em;
}

/* results styles */

.results-container {
	border-radius: 5px;
	margin-top: 2em;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

.results-header {
	background: $backgroundColor;
	border: 3px solid #4d4d4d;
	position: relative;
	border-radius: 5px;
	z-index: 2;
	-webkit-animation-duration: $animationTime;
	        animation-duration: $animationTime;
	height: 15em;
}

#stickyResults.sticky {
	position: fixed;
	top: 0;
	left: 0;
	margin: 0 auto;
	z-index: 3;
	background: $stickyBackground;
	opacity: 1;
	height: 9em;
	.weather-report {
		border: none;
		display: none;
	}
	.results-title h1 {
		font-size: 5em;
		
	}
	.results-title h4 {
		font-size: 1.25em;
		margin: .5em 0 .5em 0;
	}
	.return-home button {
		margin-top: 3em;
	}
	hr {
		display: none;
	}
}

.results-title {
	text-align: center;
	position: absolute;
	top: 15%;
	left: 25%;
	h4 {
		font-family: $googleFont;
		font-size: 1.5em;
	}
}

hr {
	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    &:after {
    	display: inline-block;
    	position: relative;
    	top: -0.7em;
    	font-size: 1.5em;
    	padding: 0 0.25em;
    	background: white;
    }
}

.results-title h1 {
	font-family: $timesFont;
	font-size: 7em;
}

.return-home {
	text-align: center;
	position: absolute;
	top: 20%;
	left: 86%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);  
    button {
		font-family: $googleFont;
		font-size: 1.5em;
		color: $lighter;
		background-color: $backgroundColor;
		float: right;
		border: 2px solid $medium;
		border-radius: 2px;
		padding: .3em;
		-webkit-font-smoothing: $a;
		&:hover {
			background-color: $medium;
			color: $white;
			border: 2px solid $white;
		}
    }
}

.headline {
	font-family: $headlineFont;
	font-size: 2.75em;
	color: #404040;
	line-height: 1.25em;
	text-align: center;
	padding-bottom: .25em;
}

.snippet {
	font-family: $headlineFont;
	font-size: 1.25em;
	text-align: left;
	padding: 1em 0em 1em 0em;
	width: 75%;
}

.published-header {
	font-family: $headlineFont;
	font-size: 1.25em;
	display: inline-block;
	padding-right: .25em;
}

.published-date {
	font-size: 1.5em;
	display: inline-block;
}

.section-header {
	display: inline-block;
}

.section-name {
	display: inline-block;
}

/* Refills flex box styles */

.flex-boxes {
  -webkit-animation-duration: $animationTime;
  -moz-animation-duration: $animationTime; 

  @include clearfix;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  clear: both;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;

  .flex-box {
    -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
            align-self: stretch;
    background-image: $flex-box-background;
    opacity: 0.9;
    border-radius: $base-border-radius;
    display: block;
    -webkit-flex: 2 2 15em;
        -ms-flex: 2 2 15em;
            flex: 2 2 15em;
    margin: $flex-box-gutter;
    padding: 1em 2em .5em 2em;
    border: $flex-box-border;
    text-decoration: none;
    z-index: 1;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;

	    &:focus,
	    &:hover {
			border: 3px solid $darker;
			.continue-reading {
				opacity: 1;
			}
		}
	}

	h2 {
		font-family: $headlineFont;
		font-size: 1em;
		color: #404040;
		margin-bottom: 0.5em;
	}

	.byline-hr {
		width: 50%;
		padding: 0;
      	border: none;
      	border-top: medium double #333;
      	color: #333;
      	text-align: center;
	}

	.continue-reading {
		color: $darker;
		opacity: 0;
		font-family: $googleFont;
		font-size: 1em;
		-webkit-font-smoothing: $a;
		text-align: center;
		margin-bottom: 0.5em;
	}

    .flex-title {
      color: $darker;
      margin-bottom: 0.5em;
      font-family: $flex-box-font;
      font-size: 1.75em;
    }

    p {
      color: $lighter;
      line-height: 1.5em;
      margin: auto;
      font-family: $flex-box-font;
      font-size: 1em;
      -webkit-font-smoothing: $a;
      text-align: initial;
    }

    .results-hr {
      width: 50%;
   	  padding: 0;
      border: none;
      border-top: medium double $darker;
      color: $darker;
      text-align: center;
    }

  	.flexbox-big {
	    -webkit-flex: 1 1 40em;
	        -ms-flex: 1 1 40em;
	            flex: 1 1 40em;
	}
}

/* media queries */

@media screen and (max-width: 375px) {
	.big-title {
		margin: 0 auto;
		text-align: center;
		font-size: 2.5em
	}
	.masthead-links {
		margin: 0 auto;
		padding: 0 0 0.5em 0;
	}
	.search-container {
		margin: 0 auto;
	}
	.input-box {
		font-size: 1.25em;
	}
	.date-input .date-box {
		margin: 0 auto;
		line-height: 0em;
	}
	.sort-div .sort-label {
		width: 100%;
		margin: 0;
		font-size: 1em;
	}
	.sort-div .sort-input-newest {
		margin: 0 auto;
	}
	.sort-div .sort-input-oldest {
		margin: 0 auto;
	}
	.sort-input-newest label {
		margin-top: 0;
		font-size: 0.6em;
	}
	.sort-input-oldest label {
		margin-top: 0;
		font-size: 0.6em;
	}
	.submit-button {
		height: 2em;
	}
	.footer {
		font-size: 1em;
	}
}

@media screen and (min-width: 376px) and (max-width: 480px) {
	.search-container {
		margin-top: 13em;
	}
	.input-box {
		margin-top: 0.5em;
	}
	.date-input .date-box {
		margin: 0 auto;
	}
	.sort-label {
		width: 100%;
		font-size: 1em;
	}
}

@media screen and (min-width: 481px) {
	.date-input {
		width: 50%;
	}
}

@media screen and (min-width: 481px) and (max-width: 760px) {
	.masthead {
		margin-bottom: 1em;
		position: absolute;
	}
	.masthead ul {
		margin: 0 auto;
		padding-bottom: 1em;
	}
	.big-title {
		padding: 0.5em 0 0.5em 0;
		width: 100%;
		font-size: 2.5em;
		text-align: center;
	}
	.masthead-links {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-justify-content: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		font-size: 1.5em;
		text-align: center;
		padding: 0.5em 0 0.5em 0;
	}
	.search-container {
		margin-top: 11.5em;
	}
	.input-box {
		width: 50%;
		height: 100%;
		font-size: 1.25em;
	}
	.date-input .date-box {
		margin: 0 auto;
	}
	.sort-div {
		margin: 0 auto;
	}
	.results-header {
		display: none;
	}
	.results-container {
		margin-top: 14em;
	}
}

@media screen and (max-width: 1000px) {
	.input-box {
		width: 75%;
	}
}
