<div class="about-container">
	<p class="about">The All-Time(s) Search web application utilizes the public New York Times Article Search API, allowing the user to search through articles published by the newspaper from September 18, 1851 to today, returning headlines, abstracts, lead paragraphs, associated multimedia, and other article metadata.</p>  

	<p class="api-link">More information about the API can be found <a href="http://developer.nytimes.com/docs/read/article_search_api_v2#h2-queries" target="_blank">here</a>.</p>
</div>