<div class="search-container">
	<form id="search-form" action="">	
		<div class="search-input">
			<input class="input-box" type="text" placeholder="Enter search term(s)..." max-length="25" autofocus>
		</div>
		<div class="date-input">
			<div class="from-input">
				<label class="date-label">From:</label><input ng-model="fromDate" class="date-box" type="date">
			</div>
			<div class="to-input">
				<label class="date-label">To:</label><input ng-model="toDate" class="date-box" type="date">
			</div>
		</div>
		<div class="image-input">
				<label>Include images, if any.</label>
				<input class="check" type="checkbox">
		</div>
		<div class="submit-input">
			<button ng-submit="submitForm()" class= "submit-button" type="submit">Search</button>
		</div>
	</form>
</div>